*{
    margin:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width:70%;
    margin:auto;
}

header{
    text-align: center;
}

.titolo{
    margin-top:4%;
    margin-bottom:4%;
    color:rgb(255, 0, 153);
}

.profilo{
    background-color: black;
    width:(100px/0.3);
    margin-right:40px;
    margin-top:50px;
    float:left;
}

.last{
    margin-right:0;
}

.info{
    float:left;
    width:((100px/0.3)*0.7);
    margin-left:10px;
    margin-right:50px;
}

.thumbn{
    float:left;
    width:100px;
}

.nome,.qualifica{
    color:white;
}

.nome,.qualifica,.email{
    margin-top:10px;
}

.email{
    color:rgb(0, 183, 255);
}

.row::after{
    content: "";
    display:block;
    clear:both;
}