*{
    margin:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width:80%;
    margin:auto;
}

header{
    text-align: center;
}

.titolo{
    margin-top:4%;
    margin-bottom:4%;
    color:rgb(255, 0, 153);
}