*{
    margin:0;
    box-sizing:border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width:80%;
    margin:auto;
}

header{
    text-align: center;
}

.titolo{
    margin-top:4%;
    margin-bottom:4%;
    color:rgb(255, 0, 153);
}

.profilo{
    background-color: black;
    float:left;

}

.info{
    float:left;
    margin-left: 2vw;
    margin-right:
}

.nome,.qualifica{
    color:white;
}
.nome{
    margin-top:5%;
}
.thumbn{
    float:left;
    height:100px;
}
.nome,.qualifica,.email{
    margin-bottom:5%;
    
}
.email{
    color:rgb(0, 183, 255);
}
